h1 {
    color: black;
}
* {
    border: solid;
}
h2 {
    color: hotpink;
}
h3 {
    color: black;
}
.header{
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}